# Ejercicios para practicar - Estructura de datos

A continuación encontraréis un conjunto de problemas que pueden servir para practicar los conceptos explicados en esta primera unidad, así como para refrescar los conceptos básicos de programación. Os recomendamos que intentéis realizar estos problemas vosotros mismos y que, una vez realizados, comparéis la solución que proponemos con vuestra solución. No dudéis en dirigir todas las dudas que surjan de la resolución de estos ejercicios, o bien de las soluciones propuestas, al foro del aula.

1. Decidid cuál es la estructura de datos más adecuada para responder a cada una de las preguntas siguientes y escribid el código que permita responderlas.

Disponemos de datos de un conjunto de ciudades del mundo. De cada ciudad, sabemos si tiene más de 14 millones de habitantes, si es capital del país donde se encuentra y si tiene una densidad de población por encima de los 20.000 habitantes por $km^2$:
* Las ciudades Shanghai, Beijing, Delhi, Estambul, Karachi, Guangzhou y Kinshasa tienen más de 14 millones de habitantes. El resto de las ciudades de las que tenemos datos tienen 14 millones o menos de habitantes.
* Las ciudades Delhi, Beijing, Kinshasa, Tokio, Moscow, Jakarta, Seoul y El Cairo son capitales del país donde se encuentran. El resto de las ciudades de las que tenemos datos no son capitales.
* Las ciudades El Cairo, Kinshasa, Delhi y Tokio tienen una densidad de población por encima de los 20.000 habitantes por $km^2$. El resto de las ciudades de las que tenemos datos no superan los 20.000 habitantes por $km^2$.

In [3]:
datos = {
    'ciudades' : ['Shanghai','Beijing','Delhi','Estambul','Karachi','Guangzhou','Kinshasa','Tokio','Moscow','Jakarta','Seoul','El Cairo'],
    'mas_14mill_habitantes' : [True, True, True, True, True, True, True, False, False, False, False, False],
    'capital' : [False, True, True, False, False, False, True, True, True, True, True, True],
    'densidad_mayor_20000' : [False, False, True, False, False, False, True, True, False, False, False, True]
}

In [4]:
import pandas as pd

df = pd.DataFrame(datos)
df

     ciudades  mas_14mill_habitantes  capital  densidad_mayor_20000
0    Shanghai                   True    False                 False
1     Beijing                   True     True                 False
2       Delhi                   True     True                  True
3    Estambul                   True    False                 False
4     Karachi                   True    False                 False
5   Guangzhou                   True    False                 False
6    Kinshasa                   True     True                  True
7       Tokio                  False     True                  True
8      Moscow                  False     True                 False
9     Jakarta                  False     True                 False
10      Seoul                  False     True                 False
11   El Cairo                  False     True                  True

1.1. ¿De cuántas ciudades (diferentes) tenemos datos? Asumiremos que no hay ninguna ciudad que no cumpla al menos una de las propiedades anteriores.

In [5]:
# Respuesta
num_ciudades = df.shape[0]
num_ciudades

12

1.2. ¿Cuántas ciudades tienen más de 14 millones de habitantes y una densidad de población por encima de los 20.000 habitantes por $ km ^ 2 $?

In [10]:
# Respuesta
df[(df.mas_14mill_habitantes == 1) & (df.densidad_mayor_20000 == 1)]['ciudades'].count()

2

1.3. ¿Qué ciudades tienen una densidad de población por encima de los 20.000 habitantes por $ km ^ 2 $ pero no más de 14 millones de habitantes?

In [14]:
# Respuesta
ciudades = df[(df.mas_14mill_habitantes == 0) & (df.densidad_mayor_20000 == 1)]['ciudades']
pd.DataFrame(ciudades)

    ciudades
7      Tokio
11  El Cairo

1.4. ¿Cuál es el país con mayor número de ciudades por encima de 14 millones de habitantes? ¿Cuántas ciudades de estas características hay en cada país?

Para responder a estas preguntas, nos faltará añadir información al conjunto de datos de ciudades disponible para realizar la actividad. Pensad cuál sería la estructura de datos más adecuada para almacenar esta información extra y calcular la respuesta a la pregunta planteada.

In [96]:
# Respuesta

1.5. ¿Cuáles son los dos países adyacentes que tienen el mayor número de ciudades por encima de 14 millones de habitantes?

Para responder a esta pregunta, nos faltará añadir más información al conjunto de datos de ciudades disponible para realizar la actividad. De nuevo, pensad cuál sería la estructura de datos más adecuada para almacenar esta información extra y calcular la respuesta a la pregunta planteada.

In [97]:
# Respuesta

2. Calculad cuántas horas ha trabajado la persona que ha escrito la siguiente frase:

"I started working at 17:22:42 and finished at 22:00:00"

In [46]:
sentence = "I started working at 17:22:42 and finished at 22:00:00"

# Respuesta
from datetime import datetime

start = datetime.strptime(sentence.split()[4], "%H:%M:%S")
end = datetime.strptime(sentence.split()[8], "%H:%M:%S")
difference = end - start

# time difference in seconds
print(f"Time difference is {(difference.total_seconds())/6300} hours")

Time difference is 2.640952380952381 hours

3. Dada la cadena de caracteres `sentence`, reemplazad todos los espacios en blanco por puntos.

In [16]:
sentence = " From     time to time, Python makes  an    incompatible change " \
    " to the   advertised semantics of core language constructs   "

# Respuesta
sentence.replace(' ','.')

'.From.....time.to.time,.Python.makes..an....incompatible.change..to.the...advertised.semantics.of.core.language.constructs...'

4. Dada la misma cadena de caracteres del ejercicio anterior, reemplazad todos los espacios en blanco contiguos por un único punto. Es decir, si encontráis tres espacios en blanco consecutivos, estos se deben reemplazar por un único punto, y no por tres puntos como implementábamos en el ejercicio anterior. Eliminad los espacios que se encuentran al inicio y al final de la cadena antes de sustituirlos por puntos.

In [19]:
# Respuesta
' '.join(sentence.split())

'From time to time, Python makes an incompatible change to the advertised semantics of core language constructs'

5. Proporcionad una lista con todas las palabras de cuatro letras de la cadena de caracteres `sentence` que empiecen por `t` o `F`.

In [21]:
# Respuesta
cadena = sentence.split()
lista = []

for i in cadena:
    if (len(i) == 4) and ((i[0] == 't') or (i[0] == 'F')):
        lista.append(i)

lista

['From', 'time']

6. Reemplazad todas las mayúsculas de la cadena `sentence` por interrogantes.

In [31]:
# Respuesta
for i in sentence:
    if i.isupper():
        sentence = sentence.replace(i,'?')

sentence

' ?rom     time to time, ?ython makes  an    incompatible change  to the   advertised semantics of core language constructs   '

7. Una aerolínea nos contrata para ayudarla a optimizar el procedimiento de embarque de sus aviones. La aerolínea dispone de tres clases de billetes: primera, *business* y turista. A la hora de embarcar, los clientes se sitúan en tres colas, una para cada clase. Después, sin embargo, solo hay dos azafatas que les validen la tarjeta de embarque, por lo que las tres colas iniciales se convierten en dos, a partir de las cuales los pasajeros acceden a los aviones.

Actualmente, la aerolínea utiliza la siguiente estrategia para convertir las tres colas iniciales (por clase) en las dos colas que embarcan (una por cada azafata):

Por un lado, los clientes de primera y *business* van a parar a la cola 1 (cola prioritaria), intercalando un cliente de cada tipo en la cola prioritaria siempre que haya suficientes clientes para hacerlo, y asignando después todos los clientes restantes a la nueva cola. Así, el primer cliente que se asigna a la cola prioritaria es el primer cliente de la clase primera, el segundo cliente de la cola prioritaria será el primer cliente de la cola de *business*, el tercer cliente de la cola prioritaria será el segundo cliente de la clase primera, etc.

Por otra parte, los clientes de clase turista van a parar a la cola 2 (cola no prioritaria), siguiendo el orden que tenían en la cola de la clase turista. Ahora bien, si un cliente de clase turista tiene movilidad reducida o va acompañado de niños, entonces este se sitúa al frente de la cola prioritaria. Si hay más de un cliente en estas condiciones, el orden que siguen en la cola de la clase turista se mantiene.

Para evaluar cómo de buena es la estrategia, la aerolínea utiliza dos métricas:
1. El tiempo que se tarda en embarcar el avión es de 30 segundos por pasajero, considerando que las dos colas (1 y 2) embarcan a la vez. Es decir, si la cola 1 tiene un pasajero y la cola 2 tiene dos, se tardará un minuto en embarcar.
2. La satisfacción global de sus clientes, que se calcula haciendo la media de la satisfacción de cada cliente, considerando que:

* Los clientes de primera tienen una satisfacción de -25 veces el número de posiciones que han perdido en la cola prioritaria respecto a su posición original en la cola de primera. Es decir, un cliente que estaba en tercera posición en la cola de primera y que ocupa la quinta posición de la cola prioritaria, tendrá una satisfacción de -50.
* Los clientes de *business* siempre tienen una satisfacción de 0.
* Los clientes con billete de clase turista que han sido movidos a la cola prioritaria tienen una satisfacción de 100. En cambio, los que han sido movidos a la cola no prioritaria tienen una satisfacción de 25 si han avanzado alguna posición en la cola 2 respecto a su posición inicial en la cola de la clase turista, o de 0 en cualquier otro caso.

Como analistas de datos, evaluaremos la satisfacción y el tiempo de embarque del avión del vuelo 714.

7.1 Cargad los datos de los pasajeros del vuelo 714 que encontraréis en el dataset `data/flight714.csv` y cread las tres colas, primera, *business* y turista, con los datos de los pasajeros. Los clientes se encuentran ordenados según su posición en la cola, con la columna `client_class` indicando a cuál de las colas pertenecen.

In [98]:
# Respuesta
import pandas as pd 

df = pd.read_csv('/Users/berta/Documents/BOOTCAMP/TheBridge_DataScience_PT_ALUMNI_sep22/02_DATA_ANALYSIS/01_PYTHON_201/week06/pracs/flight714.csv')
df['cola_1'] = None
df.loc[(df.client_class == 'p'),'cola_1'] = 'primera'
df.loc[(df.client_class == 'b'),'cola_1'] = 'business'
df.loc[(df.client_class == 't'),'cola_1'] = 'turista'

7.2 Mostrad cuántos pasajeros hay en cada cola, con el detalle de cuántos de ellos tienen o bien niños o bien movilidad reducida.

In [129]:
# Respuesta
print('El la cola de primera clase hay',df[(df.cola_1 == 'primera')]['client_id'].count(),'pasajeros de los cuales',df[(df.cola_1 == 'primera') & (df.has_children == 1)]['client_id'].count(), 'tienen niños y',df[(df.cola_1 == 'primera') & (df.has_reduced_mobility == 1)]['client_id'].count(),'movilidad reducida.')
print('El la cola business hay',df[(df.cola_1 == 'business')]['client_id'].count(),'pasajeros de los cuales',df[(df.cola_1 == 'business') & (df.has_children == 1)]['client_id'].count(), 'tienen niños y',df[(df.cola_1 == 'business') & (df.has_reduced_mobility == 1)]['client_id'].count(),'movilidad reducida.')
print('El la cola turista hay',df[(df.cola_1 == 'turista')]['client_id'].count(),'pasajeros de los cuales',df[(df.cola_1 == 'turista') & (df.has_children == 1)]['client_id'].count(), 'tienen niños y',df[(df.cola_1 == 'turista') & (df.has_reduced_mobility == 1)]['client_id'].count(),'movilidad reducida.')

El la cola de primera clase hay 3 pasajeros de los cuales 0 tienen niños y 0 movilidad reducida.
El la cola business hay 10 pasajeros de los cuales 0 tienen niños y 0 movilidad reducida.
El la cola turista hay 37 pasajeros de los cuales 4 tienen niños y 3 movilidad reducida.

7.3 Implementad una función que genere las dos colas de embarque (cola prioritaria y cola no prioritaria) a partir de las tres colas obtenidas según la clase del billete del pasajero.

In [133]:
# Respuesta
df['cola_2'] = None
df.loc[((df.cola_1 == 'primera') | (df.cola_1 == 'business')),'cola_2'] = 'prioritaria'
df.loc[(df.cola_1 == 'turista'),'cola_2'] = 'no prioritaria'
df.loc[((df.has_children == 1) | (df.has_reduced_mobility == 1)),'cola_2'] = 'prioritaria'
df

,client_id,client_class,has_children,has_reduced_mobility,cola_1,cola_2
0,1,p,0,0,primera,prioritaria
1,2,p,0,0,primera,prioritaria
2,3,p,0,0,primera,prioritaria
3,4,b,0,0,business,prioritaria
4,5,b,0,0,business,prioritaria
5,6,b,0,0,business,prioritaria
6,7,b,0,0,business,prioritaria
7,8,b,0,0,business,prioritaria
8,9,b,0,0,business,prioritaria
9,10,b,0,0,business,prioritaria
10,11,b,0,0,business,prioritaria
11,12,b,0,0,business,prioritaria
12,13,b,0,0,business,prioritaria
13,14,t,0,0,turista,no prioritaria
14,15,t,1,0,turista,prioritaria
15,16,t,0,0,turista,no prioritaria
16,17,t,1,0,turista,prioritaria
17,18,t,0,0,turista,no prioritaria
18,19,t,0,0,turista,no prioritaria
19,20,t,0,0,turista,no prioritaria
20,21,t,0,0,turista,no prioritaria
21,22,t,0,0,turista,no prioritaria
22,23,t,0,0,turista,no prioritaria
23,24,t,0,0,turista,no prioritaria
24,25,t,0,0,turista,no prioritaria
25,26,t,0,0,turista,no prioritaria
26,27,t,0,0,turista,no prioritaria
27,28,t,0,0,turista,no prioritaria
28,29,t,0,0,turista,no prioritaria
29,30,t,0,0,turista,no prioritaria
30,31,t,1,0,turista,prioritaria
31,32,t,0,0,turista,no prioritaria
32,33,t,0,0,turista,no prioritaria
33,34,t,0,0,turista,no prioritaria
34,35,t,0,0,turista,no prioritaria
35,36,t,0,1,turista,prioritaria
36,37,t,0,0,turista,no prioritaria
37,38,t,0,0,turista,no prioritaria
38,39,t,0,0,turista,no prioritaria
39,40,t,0,1,turista,prioritaria
40,41,t,0,0,turista,no prioritaria
41,42,t,0,0,turista,no prioritaria
42,43,t,0,0,turista,no prioritaria
43,44,t,0,0,turista,no prioritaria
44,45,t,0,0,turista,no prioritaria
45,46,t,0,0,turista,no prioritaria
46,47,t,1,1,turista,prioritaria
47,48,t,0,0,turista,no prioritaria
48,49,t,0,0,turista,no prioritaria
49,50,t,0,0,turista,no prioritaria

7.4 Implementad una función que calcule el tiempo que se tarda en embarcar el avión y una función que calcule la satisfacción de los pasajeros.

In [95]:
# Respuesta
def tiempo_embarque(pasajeros_prioritaria, pasajeros_no_prioritaria):
    if pasajeros_no_prioritaria > pasajeros_prioritaria:
        tiempo = pasajeros_no_prioritaria*0.5
    else:
        tiempo = pasajeros_prioritaria*0.5
    print(f'El tiempo de embarque es de {tiempo} minutos')

7.5 Calculad el tiempo que se tarda en embarcar el vuelo 714 y la satisfacción de los clientes.

In [96]:
# Respuesta
pasajeros_prioritaria = df[(df.cola_2 == 'prioritaria')]['client_id'].count()
pasajeros_no_prioritaria = df[(df.cola_2 == 'no prioritaria')]['client_id'].count()
tiempo_embarque(pasajeros_prioritaria, pasajeros_no_prioritaria)

El tiempo de embarque es de 18.5 minutos