# Head 1
## Head 2
### Head 3
#### Head 4
##### Head 5

# Programación Python 101

## Semana 1 - Matando el bicho

![matando el bicho](../img/python.jpg)

Ejemplo de código Python

```{python}
<nombre_funcion>(cadena de texto o variables)

print("Hello!")
```

***

ALT+ENTER ejecuta la celda + crea una celda nueva </br>
CTRL+ENTER ejecuta la celda


***
> Ejemplo de LaTex en Markdown

$
% New definition of square root:
% it renames \sqrt as \oldsqrt
\let\oldsqrt\sqrt
% it defines the new \sqrt in terms of the old one
\def\sqrt{\mathpalette\DHLhksqrt}
\def\DHLhksqrt#1#2{%
\setbox0=\hbox{$#1\oldsqrt{#2\,}$}\dimen0=\ht0
\advance\dimen0-0.2\ht0
\setbox2=\hbox{\vrule height\ht0 depth -\dimen0}%
{\box0\lower0.4pt\box2}}
$

In [1]:
# Creamos la primera línea de código
print("Hello1")
print("Hello2")

Hello1
Hello2

In [3]:
print()

In [4]:
PRINT()

NameError: name 'PRINT' is not defined

In [5]:
print(1)

1

In [10]:
ciudad = 'Madrid'
print(ciudad)

Madrid

In [12]:
# No son buenos ejemplos de nombrado de variable
CIUDAD = 'Barcelona'
Ciudad = 'Valencia'
Ciudades-de-España = 'Bilbao'

SyntaxError: cannot assign to operator (4049022299.py, line 4)

In [13]:
# Ejemplos de variables
ciudades_de_espanya = 'Malaga'
ciudadesEspanya = 'Zaragoza'

In [14]:
# Quiero reutilizar una variable
print(ciudades_de_espanya)

Malaga

In [15]:
ciudades_de_espanya

'Malaga'

In [16]:
type(ciudades_de_espanya)

str

In [17]:
anyo = 2022
type(anyo)

int

In [20]:
# Evitemos de crear variables con nombre de funciones nativas (built-in)
bool = True
str = 'Marco'

In [19]:
var_bool = False
type(var_bool)

bool

In [21]:
valor_dec = 10.5
type(valor_dec)

float

In [23]:
valor_dec = .5 # sustiye 0.5
print(type(valor_dec)) # funciones anidadas
valor_dec

<class 'float'>

0.5

In [25]:
valores_nulos = None
valores_nulos
print(type(valores_nulos))

<class 'NoneType'>

## Creación de objetos en Python
- listas ---- list() o []
- diccionarios --- dict() o {key:value}
- tuplas --- 
- set ---

### List - Listas

https://docs.python.org/3.9/tutorial/datastructures.html


Son objetos que almacen valores del mismo tipo o diferente

Tienen nombre similares: arreglos, listas, arrays, vectores

```
list()

nombre_variable_lista = []

lista_valores = [1, 5., True, "Texto", None]
```

In [26]:
# Creamos el primer objeto lista
lista_valores = [5, .6, False, "Cadena de Texto", None]
type(lista_valores)

list

In [28]:
# Creación de un objeto del tipo lista con variables
anyos = [2020, 2021, 2022]
anyos

[2020, 2021, 2022]

In [29]:
type(anyos)

list

Las listas son objetos mutables, pueden transformarse, cambiar de tipo y nombre

In [30]:
anyo = 2023
anyos = anyo # cambiamos el tipo de objeto de lista a un entero

In [31]:
anyo

2023

In [33]:
type(anyos)

int

> Como declaramos las listas

In [36]:
lista_ejemplo = list()
print(lista_ejemplo)
print(type(lista_ejemplo))

[]
<class 'list'>

In [39]:
lista_ejemplo_2 = []
print(lista_ejemplo_2)
print(type(lista_ejemplo_2))

[]
<class 'list'>

In [40]:
lista_ejemplo_2 == lista_ejemplo

True

In [41]:
lista_ejemplo > lista_ejemplo_2

False

In [44]:
edades = [21, 33, 40, 26, 36, 41]
edades

[21, 33, 40, 26, 36, 41]

In [45]:
# len() mide la longitud de un objeto
len(edades)

6

In [46]:
estudiantes = ['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia']
estudiantes

['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia']

In [47]:
len(estudiantes)

5

In [48]:
estudiantes > edades

TypeError: '>' not supported between instances of 'str' and 'int'

In [49]:
estudiantes == edades

False

In [50]:
estudiantes

['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia']

In [51]:
estudiantes[4] #indicamos el índice 4 devolverá la posición 5

'Lucia'

In [52]:
estudiantes[-1]

'Lucia'

In [55]:
estudiantes[-5] == estudiantes[0] # es siempre el mismo elemento 'Marta'
estudiantes[0]

'Marta'

In [56]:
type(estudiantes[3]) # devovlerá el tipo de elemento al índice 3 de esta lista

str

In [60]:
print(type(lista_valores[4]))
lista_valores

<class 'NoneType'>

[5, 0.6, False, 'Cadena de Texto', None]

In [59]:
lista_valores[5] # devuelve un error tipo índice fuera del rango 0 a 4

IndexError: list index out of range

In [61]:
print(len(edades))
print(len(estudiantes))

6
5

In [62]:
# Añadimos un elemento a la lista
estudiantes.append('Juan')
estudiantes

['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia', 'Juan']

In [63]:
# Eliminar un elemento
estudiantes.pop()
estudiantes

['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia']

In [68]:
estudiantes.append('Jorge')
estudiantes # Una lista puede incluir elementos del mismo tipo y valor

['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia', 'Jorge', 'Jorge', 'Jorge']

In [66]:
estudiantes.pop()
estudiantes

['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia', 'Jorge']

In [69]:
# Utilizar el slice o recorrer una lista
estudiantes[0:2] # rango de índice 0 a 2 excepto el último

['Marta', 'Pepe']

In [71]:
# Equivalente
estudiantes[:2]

['Marta', 'Pepe']

```
<objeto_lista>[indexStart:indexEnd-1]

```

In [72]:
estudiantes[:-2]

['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia', 'Jorge']

In [73]:
estudiantes[::2]

['Marta', 'Lucas', 'Lucia', 'Jorge']

In [75]:
estudiantes

['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia', 'Jorge', 'Jorge', 'Jorge']

In [74]:
estudiantes[::1]

['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia', 'Jorge', 'Jorge', 'Jorge']

In [76]:
estudiantes[::3]

['Marta', 'Isabel', 'Jorge']

In [77]:
'Marta' in estudiantes

True

In [79]:
'Lucas' not in estudiantes

False

In [78]:
# Iterando con una lista
for name in estudiantes:
    print(name)

Marta
Pepe
Lucas
Isabel
Lucia
Jorge
Jorge
Jorge

In [80]:
estudiantes * 3

['Marta',
 'Pepe',
 'Lucas',
 'Isabel',
 'Lucia',
 'Jorge',
 'Jorge',
 'Jorge',
 'Marta',
 'Pepe',
 'Lucas',
 'Isabel',
 'Lucia',
 'Jorge',
 'Jorge',
 'Jorge',
 'Marta',
 'Pepe',
 'Lucas',
 'Isabel',
 'Lucia',
 'Jorge',
 'Jorge',
 'Jorge']

In [81]:
estudiantes + estudiantes

['Marta',
 'Pepe',
 'Lucas',
 'Isabel',
 'Lucia',
 'Jorge',
 'Jorge',
 'Jorge',
 'Marta',
 'Pepe',
 'Lucas',
 'Isabel',
 'Lucia',
 'Jorge',
 'Jorge',
 'Jorge']

In [82]:
edades

[21, 33, 40, 26, 36, 41]

In [83]:
# Ordenar una lista
edades.sort()

In [84]:
edades

[21, 26, 33, 36, 40, 41]

In [85]:
edades.sort(reverse=True)
edades

[41, 40, 36, 33, 26, 21]

In [86]:
edades

[41, 40, 36, 33, 26, 21]

In [87]:
min(edades)

21

In [88]:
max(edades)

41

In [90]:
estudiantes

['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia', 'Jorge', 'Jorge', 'Jorge']

In [89]:
max(estudiantes)

'Pepe'

In [91]:
min(estudiantes)

'Isabel'

In [92]:
frase = 'Hoy es sábado, cuarto día del bootcamp The Bridge'
frase

'Hoy es sábado, cuarto día del bootcamp The Bridge'

In [93]:
type(frase)

str

In [94]:
frase.split() # operación on fly - remover los espacios

['Hoy', 'es', 'sábado,', 'cuarto', 'día', 'del', 'bootcamp', 'The', 'Bridge']

In [95]:
lista_words = frase.split()
type(lista_words)

list

In [96]:
frase

'Hoy es sábado, cuarto día del bootcamp The Bridge'

In [98]:
frase.lower()

'hoy es sábado, cuarto día del bootcamp the bridge'

In [99]:
lista_words

['Hoy', 'es', 'sábado,', 'cuarto', 'día', 'del', 'bootcamp', 'The', 'Bridge']

In [100]:
lista_words.lower()

AttributeError: 'list' object has no attribute 'lower'

In [103]:
lista_words[:4].lower()

AttributeError: 'list' object has no attribute 'lower'

In [104]:
lista_words

['Hoy', 'es', 'sábado,', 'cuarto', 'día', 'del', 'bootcamp', 'The', 'Bridge']

In [107]:
# Volvemos a recuperar la frase original
' '.join(lista_words)

'Hoy es sábado, cuarto día del bootcamp The Bridge'

In [109]:
nueva_frase = '&&'.join(lista_words)
nueva_frase

'Hoy&&es&&sábado,&&cuarto&&día&&del&&bootcamp&&The&&Bridge'

In [111]:
nueva_frase.split(sep="&&") # utilizamos el separador '&&'

['Hoy', 'es', 'sábado,', 'cuarto', 'día', 'del', 'bootcamp', 'The', 'Bridge']

In [112]:
# Creamos listas anidadas
lista_anidadas = [estudiantes, edades]
lista_anidadas

[['Marta', 'Pepe', 'Lucas', 'Isabel', 'Lucia', 'Jorge', 'Jorge', 'Jorge'],
 [41, 40, 36, 33, 26, 21]]

In [113]:
type(lista_anidadas)

list

In [118]:
lista_anidadas[0][0]

'Marta'

## Control de flujos

- for (iteraciones)
- while
- if...elif...else