In [1]:
# Importamos el módulo sqllite
import sqlite3

In [2]:
# Realizamos la conexión

conn = sqlite3.connect("thebridge.db")

# Creamos el comando o cursor
cursor = conn.cursor()

# Creamos una tabla
cursor.execute(
    """
        CREATE TABLE IF NOT EXISTS estudiantes
        (
            nombre VARCHAR(100) NULL,
            edad INTEGER NULL,
            email VARCHAR(50) NULL,
            created_on DATE
        )
    """
)

# Guardamos los cambios haciendo un commit
conn.commit()

# Cerramos la conexión
conn.close()

# Insertar valores en una tabla

In [3]:
# Realizamos la conexión

conn = sqlite3.connect("thebridge.db")

# Creamos el comando o cursor
cursor = conn.cursor()

# Creamos una tabla
cursor.execute(
    """
        INSERT INTO estudiantes VALUES
        ("Lucas", 27, "lucas@email.com", "2022-01-01")
    """
)

# Guardamos los cambios haciendo un commit
conn.commit()

# Cerramos la conexión
conn.close()

# Consultas con SELECT

In [4]:
# Realizamos la conexión

conn = sqlite3.connect("thebridge.db")

# Creamos el comando o cursor
cursor = conn.cursor()

# Creamos una tabla
cursor.execute(
    """
        SELECT * FROM estudiantes
    """
)

# Mostramos el cursor
print(cursor)

# Recorremos el primer registro con el método fetchone
usuario = cursor.fetchone()
print(usuario)

# Cerramos la conexión
conn.close()

<sqlite3.Cursor object at 0x0000022BE9CC0500>
('Lucas', 27, 'lucas@email.com', '2022-01-01')

# Insert multiple

In [5]:
# Realizamos la conexión

conn = sqlite3.connect("thebridge.db")

# Creamos el comando o cursor
cursor = conn.cursor()

# Creamos una lista de elementos
estudiantes = [
    ('Mario', 25, 'mario@ejemplo.com', '2022-01-01'),
    ('Mercedes', 19, 'marcedes@ejemplo.com', ''),
    ('Juan', None, 'juan@ejemplo.com', '2022-01-09')
]


cursor.executemany(
    """
        INSERT INTO estudiantes VALUES (?,?,?,?)
    """, estudiantes
)

# Guardamos los cambios haciendo un commit
conn.commit()

# Cerramos la conexión
conn.close()

# Consulta multiple

In [8]:
# Realizamos la conexión

conn = sqlite3.connect("thebridge.db")

# Creamos el comando o cursor
cursor = conn.cursor()

# Creamos una tabla
cursor.execute(
    """
        SELECT * FROM estudiantes
    """
)

# Mostramos el cursor
print(cursor)

# Recorremos el primer registro con el método fetchone
estudiantes = cursor.fetchall()
print(estudiantes)

<sqlite3.Cursor object at 0x0000022BE9CDCA40>
[('Lucas', 27, 'lucas@email.com', '2022-01-01'), ('Mario', 25, 'mario@ejemplo.com', '2022-01-01'), ('Mercedes', 19, 'marcedes@ejemplo.com', ''), ('Juan', None, 'juan@ejemplo.com', '2022-01-09')]

In [10]:
for estudiante in estudiantes:
    print(estudiante)
    print(type(estudiante))

('Lucas', 27, 'lucas@email.com', '2022-01-01')
<class 'tuple'>
('Mario', 25, 'mario@ejemplo.com', '2022-01-01')
<class 'tuple'>
('Mercedes', 19, 'marcedes@ejemplo.com', '')
<class 'tuple'>
('Juan', None, 'juan@ejemplo.com', '2022-01-09')
<class 'tuple'>

In [12]:
# utilizamos pandas para realizar lo mismo pero para DataFrame
import pandas as pd
q = """

SELECT * 
FROM estudiantes;
"""

In [14]:
df_estudiante = pd.read_sql(sql=q, con=conn)
df_estudiante

     nombre  edad                 email  created_on
0     Lucas  27.0       lucas@email.com  2022-01-01
1     Mario  25.0     mario@ejemplo.com  2022-01-01
2  Mercedes  19.0  marcedes@ejemplo.com
3      Juan   NaN      juan@ejemplo.com  2022-01-09

In [16]:
df_estudiante.isnull().sum()

nombre        0
edad          1
email         0
created_on    0
dtype: int64

In [17]:
df_estudiante.isna().sum()

nombre        0
edad          1
email         0
created_on    0
dtype: int64